<div class="container">
    <mat-error>{{ error }}</mat-error>
    <span><strong>{{ message }}</strong></span>
    <mat-tab-group>
        <mat-tab label="Sign in">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                <div class="vert">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input title="Email" matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input title="Password" type="password" matInput formControlName="password">
                    </mat-form-field>
                    <div class="horiz right-aligned">
                        <button mat-raised-button type="submit" [disabled]="loading">
                            {{ loading ? 'Loading' : 'Log in' }}
                        </button>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Register">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="form-widget">
                <div class="vert">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input title="Email" matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Enter a password</mat-label>
                        <input title="Password" type="password" matInput formControlName="password">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Verify Password</mat-label>
                        <input title="Password" type="password" matInput formControlName="passwordRepeat">
                    </mat-form-field>
                    <div class="horiz right-aligned">
                        <button mat-raised-button type="submit" [disabled]="loading">
                            {{ loading ? 'Loading' : 'Log in' }}
                        </button>
                    </div>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>