<div class="horiz">
    <a class="breadcrumb" *ngFor="let dataItem of breadcrumbs; let i = index"
        (click)="editDetails(dataItem, breadcrumbs)">
        {{ dataItem.name }} {{ i < breadcrumbs.length -1 ? ' > ' : '' }} </a>
</div>

<h1>{{ dataItem.name }}
    <!-- <span *ngIf="breadcrumbs.length > 0">(£{{ dataItem.itemsStartTotal?.() }})</span> -->
    <span *ngIf="['Income','Expenditure'].includes(dataItem.type) && breadcrumbs.length > 0">(£{{
        dataItem.totalMonthlyValueSignal() | number: '1.2-2'}}) per month</span>
</h1>

<div [class]="'horiz'" *ngFor="let item of dataItem.subItems">
    <div *ngIf="(item.type !== 'House') && (item.subItems.length === 0) ; else readonly" class="horiz">
        <mat-icon>delete</mat-icon>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input title="Name" matInput [(ngModel)]="item.name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input title="Amount" matInput (ngModelChange)="signalChanged($event, item.startValueSignal)"
                [ngModel]="item.startValueSignal()">
        </mat-form-field>
        <div *ngIf="['Income', 'Expenditure'].includes(item.type)" class="horiz">
            <span>per</span>
            <mat-form-field>
                <mat-label>Frequency</mat-label>
                <mat-select [ngModel]="item.frequencySignal()"
                    (ngModelChange)="signalChanged($event, item.frequencySignal)">
                    <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
                        {{frequency}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="['Goal'].includes(item.type)">
            <mat-form-field>
                <mat-label>Date</mat-label>
                <mat-select [ngModel]="item.startDateSignal()"
                    (ngModelChange)="signalChanged($event, item.startDateSignal)">
                    <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
                        {{frequency}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <ng-template #readonly>
        <div class="vert">
            <div class="horiz">
                <h2>{{ item.name }}</h2>
                <button mat-raised-button (click)="editDetails(item, breadcrumbs)" color="primary"
                    aria-label="Enter more details">
                    Breakdown
                </button>
            </div>
            <div [ngSwitch]="item.type">
                <div *ngSwitchCase="'Goal'">
                    <span *ngFor="let subItem of item.subItems">
                        <button mat-raised-button (click)="editDetails(subItem, breadcrumbs)" color="primary"
                            aria-label="Enter more details">
                            {{ subItem.name }}
                        </button>
                    </span>
                </div>
                <div *ngSwitchCase="'House'">
                    <span *ngFor="let subItem of item.subItems">
                        <button mat-raised-button (click)="editDetails(item, breadcrumbs)" color="primary"
                            aria-label="Enter more details">
                            {{ subItem.name }}
                        </button>
                    </span>
                </div>
                <div class="subItems" *ngSwitchCase="'Interest'">
                    <span *ngFor="let subItem of item.subItems">{{subItem.name}}: {{ subItem.startValueSignal() }}
                    </span>
                </div>
                <span *ngSwitchDefault>{{ item.totalMonthlyValueSignal() }}
                    per month</span>
            </div>
        </div>
    </ng-template>


</div>
<div *ngIf="dataItem.type === 'House'">
    <div *ngFor="let input of dataItem.inputs">
        <mat-form-field *ngIf="!input.readonly else readonly">
            <mat-label>{{ input.name }}</mat-label>
            <input title="Amount" matInput (ngModelChange)="updateGraph($event)" [(ngModel)]="input.value">
        </mat-form-field>
        <ng-template #readonly>
            <h2>{{ input.name }}</h2>
            <div>{{ input.value }}</div>
        </ng-template>
    </div>
    <div *ngFor="let component of dataItem.subItems">
        <span>{{ component.name }}</span>
        <button *ngIf="component.subItems?.length" (click)="editDetails(component, breadcrumbs)" mat-icon-button
            color="primary" aria-label="Enter more details">
            <mat-icon>open_in_new</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="breadcrumbs.length > 0">
    <button mat-raised-button color="primary" (click)="addItem(dataItem)">Add Item</button>
</div>