<div class="post vert">
    <div [class]="'horiz'" *ngIf="post.subject">
        <h2> {{ post.subject}}</h2>
    </div>

    <div [innerHTML]="post.message"></div>
    <div class="horiz"><i *ngFor="let tag of post.tags">#{{ tag }}</i></div>

    <div class="horiz">
        <span>{{ post.responses.length }}<mat-icon (click)="toggleResponse(post.id)">chat</mat-icon></span>
        <mat-icon class="link" [color]="userVote === 1 ? 'primary' : 'none'" (click)="submitVote(1)">thumb_up</mat-icon>
        <strong>{{ post.score }}</strong>
        <mat-icon class="link" [color]="userVote === -1 ? 'primary' : 'none'"
            (click)="submitVote(-1)">thumb_down</mat-icon>
        <span class="link" (click)="responding = !responding">Respond</span>
        <div>({{ post.id }}) posted by
            <a *ngIf="post.user_id !== supabase.user.id" [routerLink]="'/chats/'+post.user_id">{{ post.username }}</a>
            <strong *ngIf="post.user_id === supabase.user.id">{{ post.username }}</strong>
        </div>
    </div>
    <div [class]="'vert'" *ngIf="responding">
        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea title="Message" [(ngModel)]="message" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <div class="horiz right-aligned">
            <button mat-raised-button [disabled]="message === ''" (click)="submitResponse()">Submit</button>
        </div>
    </div>
    <ng-container *ngIf="expandedResponses.includes(post.id)">
        <ng-container *ngFor="let response of post.responses">
            <div class="response">
                <app-post [post]="response" (dataChanged)="dataChanged.emit()"></app-post>
            </div>
        </ng-container>
    </ng-container>
</div>