.response {
    padding: 20px;
    border-left: 2px solid rgb(162, 250, 194);
}

.post {
    padding: 20px;
    border: 2px solid rgb(162, 250, 194);
    border-radius: 8px;
    margin: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}